@import "layout/var";

body {
    font-family: $mainFont;
    font-weight: $r;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

.navbar-collapse {
    padding: 0;
}

a:focus {
    outline: none;
}

.sm-static {
    @media (max-width: 991px){
        position: static;
    }
}